<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:datosEmpresa.propiedades"/>

<!-- Para copiar la ruta, vas encima de la clase, copy qualified name-->
	<bean id="miInforme" class="es.pildoras.IoC.UsoEmpleados.Informe"></bean>
    <bean id="miEmpleado" class="es.pildoras.IoC.UsoEmpleados.DirectorEmpleado">
        <!-- Aquí puedes agregar propiedades, configuraciones u otros atributos si es necesario -->
    <constructor-arg ref="miInforme"></constructor-arg> <!-- Como hemos añadido un construc a la clase hay que referenciarlo pa q vaya-->
    </bean>
	<bean id="miSecretarioEmpleado" class="es.pildoras.IoC.UsoEmpleados.SecretarioEmpleado">
		<property name="informeNuevo" ref="miInforme"></property>
		<!-- Ahora añadimos las propiedades para los campos email y nombreEmpresa que hay geters i seters-->
		<property name="email" value="secretario@google.es"></property>
		<property name="nombreEmpresa" value="${nombreEmpresa}"></property>

	</bean>
</beans>
