<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="miInforme" class="es.pildoras.IoC.UsoEmpleados.Informe"></bean>
	
	<!-- Este BEAN se uso para cambiar de Singleton a Prototype con scope-->
	<bean id="miSecretarioEmpleado" class="es.pildoras.IoC.UsoEmpleados.SecretarioEmpleado" scope="prototype">
		<property name="informeNuevo" ref="miInforme"></property>
	</bean>
	
	<bean id="miDirectorEmpleado" class="es.pildoras.IoC.UsoEmpleados.DirectorEmpleado"
	 init-method="metodoInicial" destroy-method="metodoFinal">
		
		<constructor-arg ref="miInforme"></constructor-arg>
	</bean>
</beans>
